.idea
.env
public/assets
app/assets/builds

# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/node_modules
/yarn-error.log

.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
