<h5 style="font-weight: bold">/v1/subjects</h5>
<p>
  A paginated list of subjects.
</p>
<div style="overflow-x:auto">
  <table class="u-full-width">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Examples</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>query</code></td>
      <td>String</td>
      <td>Filter results by a search query.</td>
      <td>
        <ul>
          <li>
            <code>Science</code>
          </li>
          <li>
            <code>Engineering</code>
          </li>
          <li>
            <code>psych</code>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>