
<h5 style="font-weight: bold">/v1/instructors</h5>

<p>A paginated list of instructors.</p>

<div style="overflow-x:auto">
  <table class="u-full-width">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Examples</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>query</code></td>
      <td>String</td>
      <td>Filter results by a search query.</td>
      <td>
        <ul>
          <li>
            <code>Peter</code>
          </li>
          <li>
            <code>Peter Peterson</code>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>per_page</code></td>
      <td>String</td>
      <td>Specify how many entries should be returned in a single query, default is 25.</td>
      <td>
        <ul>
          <li>
            <code>100</code>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td><code>page</code></td>
      <td>String</td>
      <td>Specify which page to return of the paginated results, default is 1.</td>
      <td>
        <ul>
          <li>
            <code>5</code>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
