
<h5 style="font-weight: bold">/instructors</h5>

<p>A paginated list of instructors.</p>

<div style="overflow-x:auto">
  <table class="u-full-width">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Examples</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><code>query</code></td>
      <td>String</td>
      <td>Filter results by a search query.</td>
      <td>
        <ul>
          <li>
            <code>cs 252</code>
          </li>
          <li>
            <code>Calculus</code>
          </li>
          <li>
            <code>Spanish IV</code>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>