<!DOCTYPE html>
<html>
<head>
  <title>Madgrades API</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>